<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">


    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <title>Flight Tracker</title>
</head>

<body>
  <div class="ui inverted vertical masthead center aligned segment">
    <nav class="ui fixed inverted menu">
      <a class="item" href="/">Home</a>
      <a class="item" href="/flights">Flights</a>
      <a class="right menu item" href="/flights/new">Add Flight</a>
    </nav>
  </div>
  
  <div class="ui container">
  <div class="ui dividing header"></div>
  <div class="ui vertical masthead center aligned segment">
    <h1><%= title %></h1>
  </div>
  </div>
  </div>
