<%- include('../partials/header') %>


    <form action="/flights/<%= flightId %>/tickets" method="POST" class="text-white bg-dark mb-0 p-2">
        <label>Seat:
            <input type="text" name="seat" required pattern="[A-F][1-9]\d?">
        </label>
        <label>Price:
          <input type="number" name="price" required min="0">
        </label>
        <input type="submit" value="Add Ticket">
    </form>

    <%- include('../partials/footer') %>