<%- include('./partials/header') %>

<h5 class="container-fluid mx-auto text-center p-2">Welcome to <%= title %></h5>

<img src="https://i.imgur.com/fj70uRp.png" alt="Smiley face"  width="100%">
    
 
    <%- include('./partials/footer') %>
