<%- include('../partials/header') %>

<!-- <h2 class="text-white bg-dark mb-0 p-2">Enter a New Flight</h2> -->

<div class="card" style="width: 18rem;">
  <h3 class="card-header text-center">
    Input Flight 
  </h3>

<div class="card-body">

    <form action="/flights" method="POST" class="">
  <label class="input-group-text">Airline:</label>
    <select class="custom-select" name="airline">
      <option value="Alaska">Alaska</option>
      <option value="American">American</option>
      <option value="Delta">Delta</option>
      <option value="Southwest">Southwest</option>
      <option value="Spirit">Spirit</option>
      <option value="United">United</option>
  </select>

    <label class="input-group-text">Departing From:</label>
    <select class="custom-select" name="airport">
      <option value="AUS">AUS</option>
      <option value="DAL">DAL</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
      <option value="SEA">SEA</option>
    </select>
 
    <span class="input-group-text">Flight Number:</span>
        <input class="input-group-text bg-white" type="number" style="width: 15.4rem;" name="flightNumber" required min="10" max="9999">
    <label class="input-group-text">Date:</label>
      <% let date = Date.now()  %>
      <input class="input-group-text bg-white" style="width: 15.4rem;" type="datetime-local" name="departs" default="<%= date.toLocaleString %>">
<div class="text-center">
  <button class = "btn btn-success m-1" type="submit" value="Add Flight">Submit
  </button>
</div>   
</form>
</div>

 <%- include('../partials/footer') %>